
0x00-shell_basics/.holberton.mgc.icloud
0x00-shell_basics/.magic.mgc.icloud
0x00-shell_basics/holberton.mgc
0x00-shell_basics/holberton.mgc
0x00-shell_basics/magic.mgc
0x00-shell_basics/holberton.mgc
*.mgc
*.mgc
